@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background: #c9c9c9;
}
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.container ul {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
.container ul li {
  list-style: none;
  width: 62px;
  height: 62px;
  text-align: center;
  line-height: 80px;
  margin: 0 40px;
  display: inline-block;
  transform: rotate(-10deg) skewX(12deg);
}
.container ul li span {
  display: block;
  width: 100%;
  height: 100%;
  background: #f00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
  transition: 0.5s;
}
.container ul li:hover span:nth-of-type(1) {
  transform: translate(0px, 0px);
}
.container ul li:hover span:nth-of-type(2) {
  transform: translate(7px, -7px);
}
.container ul li:hover span:nth-of-type(3) {
  transform: translate(14px, -14px);
}

.container ul li a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #f00;
  opacity: 0.8;
  font-size: 40px;
  text-decoration: none;
  transition: 0.5s;
}

.container ul li a > * {
  transform: translateY(-10px);
}
.container ul li:hover a {
  transform: translate(21px, -21px);
}

.container ul li:nth-of-type(1) span,
.container ul li:nth-of-type(1) a {
  background: linear-gradient(#db326e, #c42c9d), #db326e;
}
.container ul li:nth-of-type(2) span,
.container ul li:nth-of-type(2) a {
  background: #55acee;
}
.container ul li:nth-of-type(3) span,
.container ul li:nth-of-type(3) a {
  background: linear-gradient(#69c9d0, #48a4aa);
}
.container ul li:nth-of-type(4) span,
.container ul li:nth-of-type(4) a {
  background: linear-gradient(#ff6314, #fc0d08);
}
